.tooltip {
    visibility: hidden;
    width: 300px;
    margin-left: 15px;
    margin-top: 5px;
    background: rgba(16, 116, 252, 0.7);
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    transition-duration: 0.2s;
}

.tooltip_holder:hover .tooltip {
    visibility: visible;
}